html 
  background: #222

#playa 
  margin: 0 auto
  position: relative
  background-size: cover

  &.playing, &.paused, &.buffering
    .yt-player
      opacity: 1
      
  .yt-player
    opacity: 0


  .controls
    bottom: 0
    height: 40px
    position: absolute
    text-align: center
    width: 100%
    z-index: 1

    > div
      display: inline-block
      height: 100%
      width: 40px
    
    .play
      background: red

    .pause
      background: green
